@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Khula:700);
:root{
    --color-1: #0f1016;
    --text-color: #f0f0f0;
    --accent-color: #006aff;
}
*{
    margin: 0;
    padding: 0;
}
body {
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 50%, rgba(54,115,142,1) 100%);
}
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}


html{
    font-size: 12pt;
    font-family: Poppins, Segoe UI, Tahoma, sans-serif;
}
nav{
    height: 60px;
    background: rgb(3,150,186);
    background: linear-gradient(90deg, rgba(3,150,186,1) 0%, rgba(239,126,41,1) 100%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav a{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}
nav a:hover{
    background-color: rgb(246, 133, 107);
    border-radius: 50px;
}
nav .home-link{
    margin-right: auto;
}
nav svg{
    fill: var(--text-color);
}
nav img{
    height: 90%;
    margin-bottom: 10px;
}
#sidebar-active{
    display: none;
}
.open-sidebar-button, .close-sidebar-button{
    display: none;
}
@media(max-width: 450px){
    .links-container{
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        background: rgb(41,191,223);
        background: linear-gradient(0deg, rgba(41,191,223,1) 0%, rgba(246,133,107,1) 40%, rgba(133,184,149,1) 100%);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;
    }
    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }
    .open-sidebar-button, .close-sidebar-button{
        padding: 20px;
        display: block;
    }
    #sidebar-active:checked ~ .links-container{
        right: 0;
    }
    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}
/*hero section*/
:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(0, 0%, 0%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

.hero_header {
    color: #FFFFFF;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    letter-spacing: 4px;
}
.hero {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 150px;
    padding-bottom: 150px;
}
.light {
    font-weight: bold;
    color: #de4e4e;
}
/*blog card*/
.attribution {
    font-size: 11px; text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

h1:first-of-type {
    font-weight: var(--weight1);
    color: var(--varyDarkBlue);

}

h1:last-of-type {
    color: var(--varyDarkBlue);
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }
}

.header {
    text-align: center;
    line-height: 0.8;
    margin-bottom: 50px;
    margin-top: 100px;
}

.header p {
    margin: 0 auto;
    line-height: 2;
    color: var(--grayishBlue);
}


.box p {
    color: var(--grayishBlue);
}

.box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;
}

img {
    float: right;
}

@media (max-width: 450px) {
    .box {
        height: 200px;
    }
}

@media (max-width: 950px) and (min-width: 450px) {
    .box {
        text-align: center;
        height: 180px;
    }
}

.cyan {
    border-top: 3px solid var(--cyan);
}
.red {
    border-top: 3px solid var(--red);
}
.blue {
    border-top: 3px solid var(--blue);
}
.orange {
    border-top: 3px solid var(--orange);
}

h2 {
    color: var(--varyDarkBlue);
    font-weight: var(--weight3);
}


@media (min-width: 950px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-down {
        position: relative;
        top: 150px;
    }
    .box {
        width: 20%;

    }
    .header p {
        width: 30%;
    }

}

/*paralax*/
.banner {
    background-color: #2D9AB7;
    background-image: url(../images/img3.jpg);
    height: 400px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.parallax {
    color: #FFFFFF;
    text-align: right;
    padding-right: 100px;
    padding-top: 110px;
    letter-spacing: 2px;
    margin-top: 0px;
}
.parallax_description {
    color: #FFFFFF;
    text-align: right;
    padding-right: 100px;
    width: 30%;
    float: right;
    font-weight: lighter;
    line-height: 23px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.tagline {
    text-align: center;
    color: #ffffff;
    margin-top: 5px;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.article{
    backdrop-filter: blur(20px);
    background-color: rgba(194, 109, 233, 0.21);
    padding:20px;
    margin:20px 0;
    color:#fff;
    box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.25);
}
/* Estilos generales del contenedor */
.contenedor {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px;
}

/* Estilos de la primera columna */
.columna1 {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos de la segunda columna */
.columna2 {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos de la tercera columna */
.columna3 {
    flex: 2;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.columna4 {
    flex: 2;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* Estilos compartidos para las secciones */
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos específicos de las imágenes dentro de las secciones */
.columna1 .section img,
.columna2 .section img,
.columna3 .section img,
.columna4 .section img{
    max-width: 100%;
    height: auto;
}

/* Estilos específicos de las imágenes dentro de las secciones */
.section img {
    width: 500px; /* Tamaño fijo para todas las imágenes */
    height: auto;
}

/* Estilos específicos de los párrafos dentro de las secciones */
.section p {
    font-size: 35px; /* Aumentamos el tamaño del texto a 20px */
    font-weight: bold;
    color: #333;
    margin-top: auto; /* Alinea el texto en la parte inferior de la sección */
    line-height: 1.6;
}

/* Estilos generales del contenedor */
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin: 20px;
}

/* Estilos de todas las columnas */
.columna {
    flex-basis: calc(33.33% - 20px);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(94, 38, 255, 25%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Media query para ajustar el diseño en pantallas más pequeñas */
@media screen and (max-width: 768px) {
    .columna {
        flex-basis: calc(50% - 20px);
    }
}

/* Media query para ajustar el diseño en pantallas aún más pequeñas, como smartphones */
@media screen and (max-width: 480px) {
    .columna {
        flex-basis: 100%;
    }
}

/* Estilos compartidos para las secciones */
.section {
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos específicos de las imágenes dentro de las secciones */
.section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* Estilos específicos de los párrafos dentro de las secciones */
.section p {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

/* Stats Gallery */
.stats {
    color: #717070;
    margin-bottom: 5px;
}
.gallery {
    clear: both;
    display: inline-block;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 20px;
    /* [disabled]min-width: 400px;
*/
    padding-bottom: 35px;
    padding-top: 0px;
    margin-top: -5px;
    margin-bottom: 0px;
}
.thumbnail {
    width: 25%;
    text-align: center;
    float: left;
    margin-top: 35px;
}
.gallery .thumbnail h4 {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    color: #52BAD5;
}
.gallery .thumbnail p {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    color: #A3A3A3;
}
.text_column {
    width: 29%;
    text-align: justify;
    font-weight: lighter;
    line-height: 25px;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    color: #A3A3A3;
}
.about {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 35px;
    display: inline-block;
    background-color: #FFFFFF;
    margin-top: 0px;
    border-radius: 20px;
}
/* More info */
footer {
    background-color: #FFFFFF;
    padding-bottom: 35px;
}
.footer_column {
    width: 50%;
    text-align: center;
    padding-top: 30px;
    float: left;
}
footer .footer_column h3 {
    color: #B3B3B3;
    text-align: center;
}
footer .footer_column p {
    color: #717070;
    background-color: #FFFFFF;
}
.cards {
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 200px;
}
footer .footer_column p {
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    line-height: 25px;
    font-weight: lighter;
    margin-left: 20px;
    margin-right: 20px;
}
.button {
    width: 200px;
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
    transition: all 0.3s linear;
}
.button:hover {
    background-color: #FEFEFE;
    color: #C4C4C4;
    cursor: pointer;
}
.copyright {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #717070;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
    border-top-width: 2px;
}
.footer_banner {
    background-color: #B3B3B3;
    padding-top: 60px;
    padding-bottom: 60PX;
    margin-bottom: 0px;
    background-image: url(../images/img5.jpg);
    background-repeat: repeat;
}
footer {
    display: inline-block;
}
.hidden {
    display: none;
}

/* Mobile */
@media (max-width: 320px) {
    .logo {
        width: 100%;
        text-align: center;
        margin-top: 13px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .container header nav {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        width: 100%;
        float: none;
        display: none;
    }
    nav ul li {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        width: 100%;
        text-align: center;
    }
    .text_column {
        width: 100%;
        text-align: justify;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }
    .thumbnail {
        width: 100%;
    }
    .footer_column {
        width: 100%;
        margin-top: 0px;
    }
    .parallax {
        text-align: center;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        padding-top: 40%;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        width: 100%;
        font-size: 18px;
    }
    .parallax_description {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        width: 90%;
        margin-top: 25px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 12px;
        float: none;
        text-align: center;
    }
    .banner {
        background-color: #2D9AB7;
        background-image: none;
    }
    .tagline {
        margin-top: 20px;
        line-height: 22px;
    }
    .hero_header {
        padding-left: 10px;
        padding-right: 10px;
        line-height: 22px;
        text-align: center;
    }
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
    .logo {
        width: 100%;
        text-align: center;
        margin-top: 13px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        color: #043745;
    }
    .container header nav {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        width: 100%;
        float: none;
        overflow: auto;
        display: inline-block;
        background: #52bad5;
    }
    header nav ul {
        padding: 0px;
        float: none;
    }
    nav ul li {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        width: 100%;
        text-align: center;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .text_column {
        width: 100%;
        text-align: left;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }
    .thumbnail {
        width: 100%;
    }
    .footer_column {
        width: 100%;
        margin-top: 0px;
    }
    .parallax {
        text-align: center;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        padding-top: 40%;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        width: 100%;
        font-size: 18px;
    }
    .parallax_description {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-top: 30%;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        float: none;
        width: 100%;
        text-align: center;
    }
    .thumbnail {
        width: 50%;
    }
    .parallax {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-top: 20%;
    }
    .parallax_description {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        width: 100%;
        padding-top: 30px;
    }
    .banner {
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer_column {
        width: 100%;
    }
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
    .text_column {
        width: 100%;
    }
    .thumbnail {
        width: 50%;
    }
    .text_column {
        width: 100%;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }
    .banner {
        margin-top: 0px;
        padding-top: 0px;
    }
}
/*logo nav barr*/
nav img{
    height: 100%; /* Ajusta la altura para que la imagen ocupe toda la altura del contenedor */
    margin-right: 10px; /* Ajusta el margen derecho para dejar espacio entre la imagen y el texto */
}

/* Estilos generales */
.container {
    position: relative;
}

.button-container {
    max-width: 1000px;
    margin: 5px auto; /* Reducir el margen superior e inferior */
    padding: 0 20px;
    display: flex;
    justify-content: center;
}

.button-container a {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 80px 110px; /* Ajuste de tamaño de los botones */
    text-decoration: none;
    margin: 25px 15px; /* Ajuste de separación entre los botones */
    cursor: pointer;
    transition: transform 0.3s ease;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    border-radius: 25px;
    justify-content: center;
    position: relative; /* Añadir posición relativa */
}

.button-container a:hover {
    transform: scale(1.5);
    z-index: 1; /* Hacer que el botón en hover aparezca al frente */
}

.button-container a::after {
    content: attr(title); /* Usar el título como contenido */
    position: absolute;
    bottom: -30px; /* Ajustar posición */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.button-container a:hover::after {
    opacity: 1;
}

/* Media queries para dispositivos móviles y tablets */
@media only screen and (max-width: 768px) {
    .button-container {
        padding: 0 10px; /* Reducir el padding de los botones */
        flex-wrap: wrap; /* Permitir que los botones se envuelvan en dispositivos móviles */
    }

    .button-container a {
        padding: 50px 60px; /* Tamaño de los botones en dispositivos móviles */
        margin: 10px auto; /* Separación entre los botones en dispositivos móviles */
    }
}

/* Media queries para tablets en modo paisaje */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .button-container a {
        padding: 60px 80px; /* Tamaño de los botones en tablets en modo paisaje */
    }
}

/* Media queries para PCs y tablets en modo paisaje */
@media only screen and (min-width: 1024px) {
    .button-container a {
        padding: 80px 110px; /* Tamaño de los botones en PCs y tablets en modo paisaje */
    }
}


/*tarjetas*/
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.tarjeta {
    max-width: 300px; /* Ancho máximo de las tarjetas */
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Agregar la transición para la sombra */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añadir sombra */
    backdrop-filter: blur(20px);
    background-color: rgba(194, 109, 233, 0.21);
}



.tarjeta:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumentar la sombra en hover */
}

.tarjeta-header {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd; /* Añadir borde al encabezado */
    position: relative; /* Establecer posición relativa para el encabezado */
}

.tarjeta-body {
    display: none;
    background-color: #f2f2f2;
    padding: 10px;
}

.tarjeta.expandida .tarjeta-body {
    display: block;
}
.tarjeta-header img {
    width: 100px; /* ajustar el ancho de la imagen */
    height: auto; /* mantener la proporción */
    position: absolute; /* Establecer posición absoluta para la imagen */
    top: -50px; /* Mover la imagen hacia arriba */
    left: 50%; /* Centrar la imagen horizontalmente */
    transform: translateX(-50%); /* Ajustar el centrado horizontal */
}

.tarjeta-header h2 {
    margin: 0;
    position: relative; /* Establecer posición relativa para el título */
    z-index: 1; /* Asegurar que el título esté encima de la imagen */
}