@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Khula:700);
:root{
    --color-1: #0f1016;
    --text-color: #f0f0f0;
    --accent-color: #006aff;
}
*{
    margin: 0;
    padding: 0;
}
body {
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 50%, rgba(54,115,142,1) 100%);
}
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}


html{
    font-size: 12pt;
    font-family: Poppins, Segoe UI, Tahoma, sans-serif;
}
nav{
    height: 60px;
    background: rgb(3,150,186);
    background: linear-gradient(90deg, rgba(3,150,186,1) 0%, rgba(239,126,41,1) 100%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav a{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}
nav a:hover{
    background-color: rgb(246, 133, 107);
    border-radius: 50px;
}
nav .home-link{
    margin-right: auto;
}
nav svg{
    fill: var(--text-color);
}
nav img{
    height: 90%;
    margin-bottom: 10px;
}
#sidebar-active{
    display: none;
}
.open-sidebar-button, .close-sidebar-button{
    display: none;
}
@media(max-width: 450px){
    .links-container{
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        background: rgb(41,191,223);
        background: linear-gradient(0deg, rgba(41,191,223,1) 0%, rgba(246,133,107,1) 40%, rgba(133,184,149,1) 100%);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;
    }
    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }
    .open-sidebar-button, .close-sidebar-button{
        padding: 20px;
        display: block;
    }
    #sidebar-active:checked ~ .links-container{
        right: 0;
    }
    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}
/* Hero Section */
.hero_header {
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    letter-spacing: 4px;
}
/* Hero Section */
.hero {
    background: url("../images/bac.gif") center center/cover; /* Ajusta la imagen de fondo */
    padding-top: 150px;
    padding-bottom: 150px;
}

.light {
    font-weight: bold;
    color: #e68b4e;
}
.tagline {
    text-align: center;
    color: #FFFFFF;
    margin-top: 5px;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Estilos generales del contenedor */

/*text movement*/
.hidden {
    opacity: 0;
}

.console-container {
    font-family: Khula, serif;
    font-size: 4em;
    text-align: center;
    height: auto;
    width: 80%; /* Cambia el ancho a un porcentaje para que se ajuste dinámicamente */
    max-width: 600px; /* Establece un ancho máximo para mantenerlo manejable en pantallas grandes */
    display: block;
    position: absolute;
    color: white;
    top: 19%; /* Posiciona el elemento en el centro verticalmente */
    left: 50%; /* Posiciona el elemento en el centro horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta el centro del elemento */
}
.console-underscore {
    display: inline-block;
    position: relative;
    top: -0.14em;
    left: 10px;
}

/* Estilos generales del contenedor */
.contenedor {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px;
}

/* Estilos de la primera columna */
.columna1 {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos de la segunda columna */
.columna2 {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos de la tercera columna */
.columna3 {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.columna4 {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* Estilos compartidos para las secciones */
.section {
    text-align: center;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos específicos de las imágenes dentro de las secciones */
.section img {
    max-width: 300PX;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: transform 0.3s ease;

}
.section img:hover {
    transform: scale(1.1); 
}

/* Estilos específicos de los párrafos dentro de las secciones */
.section p {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
/* Estilos generales del contenedor */
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin: 20px;
}

/* Estilos de todas las columnas */
.columna {
    flex-basis: calc(33.33% - 20px);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(94, 38, 255, 25%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Media query para ajustar el diseño en pantallas más pequeñas */
@media screen and (max-width: 768px) {
    .columna {
        flex-basis: calc(50% - 20px);
    }
}

/* Media query para ajustar el diseño en pantallas aún más pequeñas, como smartphones */
@media screen and (max-width: 480px) {
    .columna {
        flex-basis: 100%;
    }
}
/*tarjetas*/
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.tarjeta {
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Agregar la transición para la sombra */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añadir sombra */
}

.tarjeta:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumentar la sombra en hover */
}

.tarjeta-header {
    background-color: #f9f9f9;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd; /* Añadir borde al encabezado */
}

.tarjeta-body {
    display: none;
    background-color: #f2f2f2;
    padding: 10px;
}

.tarjeta.expandida .tarjeta-body {
    display: block;
}

/*texto con img*/
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.image {
    flex: 1 1 300px; /* Flex-grow: 1, flex-shrink: 1, flex-basis: 300px */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px; /* Espacio entre elementos */
    order: 2; /* Cambia el orden de la imagen */
}

.image img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.image:hover img {
    transform: scale(1.05);
}

.text {
    flex: 1 1 300px; /* Flex-grow: 1, flex-shrink: 1, flex-basis: 300px */
    padding: 20px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    order: 1; /* Cambia el orden del texto */
}

.text h2 {
    margin-top: 0;
}

.text p {
    margin-bottom: 0;
    text-align: justify;
}

/* Estilos para las definiciones */
.tooltip {
    position: relative;
    cursor: help;
}

.tooltip:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tooltip:hover::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
    z-index: 1;
}

.tooltip:hover::after,
.tooltip:hover::before {
    opacity: 1;
}

/* Media queries para ajustar el diseño en diferentes tamaños de pantalla */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column; /* Cambia la dirección del flex a columna en pantallas pequeñas */
    }

    .image,
    .text {
        flex-basis: 100%; /* Establece el ancho completo para los elementos en pantallas pequeñas */
        order: initial; /* Reinicia el orden de los elementos */
    }
}

/*capa transparente article*/
.article{
    background: rgba(65, 21, 87, 0.6);
    padding:20px;
    margin:20px 0;
    color:#fff;
    box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.25);
}
/*carrucel de tarjetas*/
.carousel {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
}

.card {
    flex: 0 0 auto;
    width: 100%;
    margin-right: 20px;
    transition: transform 0.5s ease;
}

.card img {
    width: 25%;
    height: auto;
    display: block;
    margin: 0 auto; /* Esto centra la imagen horizontalmente */
}


.card-content {
    padding: 20px;
    background-color: #f9f9f9;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
/*colum text*/
.container {
    display: flex;
    background-color: #f2f2f2;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.column {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #ccc;
}

.column:last-child {
    border-right: none;
}

/* Estilo para los párrafos dentro de la clase .column */
.column p {
    margin-top: 0;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    text-align: justify;
    margin-bottom: 20px; /* Agregamos margen inferior para separar los párrafos */
}

.technologies-list {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.technologies-list h2 {
    color: #333;
    text-align: center;
}

.technologies-list ul {
    list-style-type: none;
    padding: 0;
}

.technologies-list li {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.technologies-list li:last-child {
    border-bottom: none;
}

.technologies-list h3 {
    color: #007bff;
}

.technologies-list p {
    color: #666;
}
/* Estilo para la sección de tecnologías */
.technology-section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para el título de la sección */
.technology-section h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo para las listas */
.technology-section ul {
    list-style-type: none;
    padding: 0;
}

/* Estilo para los elementos de lista */
.technology-section li {
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

/* Estilo para los títulos de sublistas */
.technology-section h3 {
    color: #007bff;
    margin-bottom: 10px;
}

/* Estilo para los párrafos */
.technology-section p {
    color: #666;
    margin-bottom: 10px;
}

/* Estilo para sublistas */
.technology-section ul ul {
    margin-top: 5px;
    margin-left: 20px;
}


